button {
    background-color: #A0D5F3;
  }
  #navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    background-color: #CCEEFF;
  }
  h1 {
    text-align: center;
  }
  #main-doc {
    position: absolute;
    margin-left: 350px;
    margin-bottom: 100px;
  }
  @media (max-width: 350px) {
    margin-top: 1px;
    background-color: yellow;
  }